@import url('./github-markdown.css');

@import "remixicon/fonts/remixicon.css";
@import "tocbot/dist/tocbot.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jetbrains-mono";
  src: url('./JetBrainsMono-Regular.ttf');
}

:root {
  --color-text: #3b82f6;
  --color-text-active: #3b82f6;
  --color-text-active-hover: #164aa1;
}


html {
  height: 100%;
  scroll-padding-top: 72px;
}

body {
  height: 100%;
  font-family: IBM Plex Mono, monospace;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}


html.dark {
  /* background-color: #343a40; */
  /* background-color: #212737; */
  background-color: #111827;

  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}




.tooltip {
  @apply invisible absolute bottom-14;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}


.aside-widget {
  @apply flex items-center w-full border-b mb-2;
}


.divider-vertical {
  position: relative;
  top: -.06em;
  display: inline-block;
  height: .9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, .06);
  background-color: rgba(var(--color-text), .3);
}

.divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  height: 1px;
  min-width: 100%;
  margin: 16px 0;
  background-color: rgba(var(--color-text), .3);
}

.divider-horizontal-mini {
  display: flex;
  clear: both;
  width: 100%;
  height: 1px;
  min-width: 100%;
  margin: 8px 0;
  background-color: rgba(var(--color-text), .3);
}

/* Markdown styles */
.markdown-body {
  background-color: inherit;
}

.markdown-body p,
li,
ul,
ol,
div,
a {
  line-height: 26px;
}



.waline-comment-content-author {
  text-align: end;
  margin-bottom: 6px;
}

.wl-emoji {
  height: 24px;
  display: inline-block;
}

ul,
ol,
menu {
  list-style: none;
}

/* markdown 列表样式 */
.markdown-body menu,
.markdown-body ul {
  list-style: disc;
}

.markdown-body ol {
  list-style: decimal;
}

::-webkit-scrollbar {
  width: 10px;
  height: 16px;
  background-color: #edede9;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c4cc;
  border-radius: 4px;
}

.post-sticky {
  font-weight: 400;
  height: 20px;
  padding: 0 6px;
  margin-right: 5px;
  line-height: 20px;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: 2px;
  color: rgb(var(--color-fill));
  background-color: rgb(var(--color-text));
  opacity: 0.8;
  border-radius: 2px 6px;
}

.is-active-link {
  color: var(--color-text-active) !important;
}

#toc a:hover {
  color: var(--color-text-active-hover);
  font-weight: 800;
}

/* tocbot styles*/
.toc-link::before {
  display: none !important;
}


.expressive-code {
  margin: 1rem 0;
}  