---
import { getCollectionByName } from "../utils/getCollectionByName";
import getAllTags from "../utils/getAllTags";
import getCountByCategory from "../utils/getCountByCategory";
import { sortPostsByDate } from "../utils/sortPostsByDate";
import { site } from "../utils/constants";

const blogs = await getCollectionByName("blog");
let tagArr = getAllTags(blogs);
let categoryCount = getCountByCategory(blogs);
let sortPosts = await sortPostsByDate(blogs);
let resultPosts = sortPosts.splice(0, site.recentBlogSize);
---

<div>
    {
        Object.keys(categoryCount).length > 0 && (
            <div class="aside-widget">
                <i class="ri-folder-line menu-icon mr-2" />
                Category
            </div>
        )
    }
    {
        Object.keys(categoryCount).map((category) => (
            <a
                class="my-1 truncate block hover:text-skin-active"
                title={category + " (" + categoryCount[category] + ")"}
                href={"/category/" + category}
            >
                {(category === "uncategorized" ? "Uncategorized" : category) +
                    " (" +
                    categoryCount[category] +
                    ")"}
            </a>
        ))
    }
</div>
<div>
    {
        tagArr.length > 0 && (
            <div class="aside-widget">
                <i class="ri-price-tag-3-line menu-icon mr-2" />
                Tags
            </div>
        )
    }
    <div class="flex flex-wrap">
        {
            tagArr &&
                tagArr.map((tag: any) => (
                    <a
                        class="inline-block truncate m-1 border p-1 text-sm rounded hover:text-skin-active"
                        title={tag}
                        href={"/tags/" + tag}
                    >
                        {tag}
                    </a>
                ))
        }
    </div>
</div>

<div>
    <div class="aside-widget">
        <i class="ri-file-line menu-icon mr-2"></i>
        Recent Posts
    </div>
    <div class="flex flex-col">
        {
            resultPosts.map((post:any) => (
                <a
                    href={"/blog/" + post.slug}
                    class="truncate cursor-pointr mt-1 hover:text-skin-active"
                    title={post.data.title}
                >
                    {post.data.title}
                </a>
            ))
        }
    </div>
</div>

