---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import AsideWidget from "../components/AsideWidget.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" class="dark">
	<BaseHead />
	<body class="bg-skin-secondary relative scroll-smooth">
		<Header />
		<main
			class="container p-4 pt-8 cursor-default text-skin-base pb-32 w-[90%] mx-auto relative"
			id="app"
		>
			<div class="grid grid-cols-4 gap-8">
				<div class="col-span-4 xl:col-span-3 space-y-6">
					<slot />
				</div>
				<div>
					<div class="hidden xl:block space-y-6">
						<AsideWidget />
					</div>
				</div>
			</div>
			<Footer />
		</main>
	</body>
</html>
